In [9]:
!pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in c:\users\sudhe\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\sudhe\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: pandas>=1.2 in c:\users\sudhe\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\sudhe\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sudhe\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\sudhe\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sudhe\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sudhe\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\sudhe\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\sudhe\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sudhe\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sudhe\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sudhe\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sudhe\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\sudhe\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\sudhe\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [10]:
import pandas as pd
df = pd.read_csv('app/data/recommed.csv')
df

,cd_id,cd_type_id,cd_mileage_miles,cd_car_price,cd_year,cd_make,cd_model,cd_body_style,cd_doors,cd_mpg,cd_engine,cd_transmission,cd_drive_type,cd_fuel,cd_tank_size,cd_bed_style,cd_cab_style,cd_path_
0,0,0,14172,32589,2022,subaru,wrx,Sedan,4 Doors,19 City / 26 Hwy,4 Cyl,Manual,AWD,Gasoline,NaN,NaN,NaN,Subaru_WRX_2020_33_18_260_20_4_70_58_180_18_AW...
1,1,0,14172,32589,2022,subaru,wrx,Sedan,4 Doors,19 City / 26 Hwy,4 Cyl,Manual,AWD,Gasoline,NaN,NaN,NaN,Subaru_WRX_2020_33_18_260_20_4_70_58_180_18_AW...
2,2,0,14172,32589,2022,subaru,wrx,Sedan,4 Doors,19 City / 26 Hwy,4 Cyl,Manual,AWD,Gasoline,NaN,NaN,NaN,Subaru_WRX_2020_33_18_260_20_4_70_58_180_18_AW...
3,3,0,14172,32589,2022,subaru,wrx,Sedan,4 Doors,19 City / 26 Hwy,4 Cyl,Manual,AWD,Gasoline,NaN,NaN,NaN,Subaru_WRX_2020_33_18_260_20_4_70_58_180_18_AW...
4,4,0,14172,32589,2022,subaru,wrx,Sedan,4 Doors,19 City / 26 Hwy,4 Cyl,Manual,AWD,Gasoline,NaN,NaN,NaN,Subaru_WRX_2020_33_18_260_20_4_70_58_180_18_AW...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15987,15987,284,6854,24999,2017,fiat,124 spider,Convertible,2 Doors,25 City / 36 Hwy,4 Cyl,Automatic,RWD,Gasoline,11.9 Gal,NaN,NaN,FIAT_124 Spider_2017_24_16_160_14_4_68_48_159_...
15988,15988,284,6854,24999,2017,fiat,124 spider,Convertible,2 Doors,25 City / 36 Hwy,4 Cyl,Automatic,RWD,Gasoline,11.9 Gal,NaN,NaN,FIAT_124 Spider_2017_24_16_160_14_4_68_48_159_...
15989,15989,284,38882,22999,2017,fiat,124 spider,Convertible,2 Doors,26 City / 35 Hwy,4 Cyl,Manual,RWD,Gasoline,11.9 Gal,NaN,NaN,FIAT_124 Spider_2017_24_16_160_14_4_68_48_159_...
15990,15990,284,38882,22999,2017,fiat,124 spider,Convertible,2 Doors,26 City / 35 Hwy,4 Cyl,Manual,RWD,Gasoline,11.9 Gal,NaN,NaN,FIAT_124 Spider_2017_24_16_160_14_4_68_48_159_...
15991,15991,226,23049,28999,2014,ford,mustang,Convertible,2 Doors,18 City / 25 Hwy,8 Cyl,Automatic,RWD,Gasoline,16 Gal,NaN,NaN,Ford_Mustang_2014_36_18_420_50_8_73_55_188_nan...

In [11]:
df = df[~df.cd_mileage_miles.isna()]

In [12]:
df['cd_mileage_miles'] = df.cd_mileage_miles.astype(float)
df['year'] = df.cd_year.astype(int)

In [13]:
df['cd_doors'] = df.cd_doors.map(lambda x: int(x.split(' ')[0]))

In [14]:
import re
def get_mpg(m):
    pattern = r'\d+' 
    match = re.findall(pattern, m)
    if match:
        return match
    else:
        return [0,0]

In [15]:
df['mpg_city'] = df['cd_mpg'].apply(lambda x: get_mpg(x)[0])
df['mpg_hwy'] = df['cd_mpg'].apply(lambda x: get_mpg(x)[1])

In [16]:
df_ts = df[['cd_make','cd_model','cd_tank_size']].sort_values(by='cd_tank_size').drop_duplicates(['cd_make','cd_model'])

In [17]:
df = pd.merge(df,df_ts,on=['cd_make','cd_model'])

In [18]:
df['cd_tanksize'] = df[['cd_tank_size_x','cd_tank_size_y']].apply(lambda x: x[0] if pd.notna(x[0]) else x[1],axis=1)

C:\Users\sudhe\AppData\Local\Temp\ipykernel_23860\1475659877.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['cd_tanksize'] = df[['cd_tank_size_x','cd_tank_size_y']].apply(lambda x: x[0] if pd.notna(x[0]) else x[1],axis=1)

In [19]:
df.columns

Index(['cd_id', 'cd_type_id', 'cd_mileage_miles', 'cd_car_price', 'cd_year',
       'cd_make', 'cd_model', 'cd_body_style', 'cd_doors', 'cd_mpg',
       'cd_engine', 'cd_transmission', 'cd_drive_type', 'cd_fuel',
       'cd_tank_size_x', 'cd_bed_style', 'cd_cab_style', 'cd_path_', 'year',
       'mpg_city', 'mpg_hwy', 'cd_tank_size_y', 'cd_tanksize'],
      dtype='object')

In [20]:
df = df[['cd_id','cd_mileage_miles','cd_year','cd_car_price','cd_make', 'cd_model', 'cd_body_style', 'cd_doors',
       'cd_engine', 'cd_transmission', 'cd_drive_type', 'cd_fuel',  'mpg_city', 'mpg_hwy', 'cd_tanksize']]

In [21]:
df

,cd_id,cd_mileage_miles,cd_year,cd_car_price,cd_make,cd_model,cd_body_style,cd_doors,cd_engine,cd_transmission,cd_drive_type,cd_fuel,mpg_city,mpg_hwy,cd_tanksize
0,0,14172.0,2022,32589,subaru,wrx,Sedan,4,4 Cyl,Manual,AWD,Gasoline,19,26,15.9 Gal
1,1,14172.0,2022,32589,subaru,wrx,Sedan,4,4 Cyl,Manual,AWD,Gasoline,19,26,15.9 Gal
2,2,14172.0,2022,32589,subaru,wrx,Sedan,4,4 Cyl,Manual,AWD,Gasoline,19,26,15.9 Gal
3,3,14172.0,2022,32589,subaru,wrx,Sedan,4,4 Cyl,Manual,AWD,Gasoline,19,26,15.9 Gal
4,4,14172.0,2022,32589,subaru,wrx,Sedan,4,4 Cyl,Manual,AWD,Gasoline,19,26,15.9 Gal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15987,15987,6854.0,2017,24999,fiat,124 spider,Convertible,2,4 Cyl,Automatic,RWD,Gasoline,25,36,11.9 Gal
15988,15988,6854.0,2017,24999,fiat,124 spider,Convertible,2,4 Cyl,Automatic,RWD,Gasoline,25,36,11.9 Gal
15989,15989,38882.0,2017,22999,fiat,124 spider,Convertible,2,4 Cyl,Manual,RWD,Gasoline,26,35,11.9 Gal
15990,15990,38882.0,2017,22999,fiat,124 spider,Convertible,2,4 Cyl,Manual,RWD,Gasoline,26,35,11.9 Gal
15991,15991,23049.0,2014,28999,ford,mustang,Convertible,2,8 Cyl,Automatic,RWD,Gasoline,18,25,16 Gal

In [22]:
def get_tanksize(tank):
    try:
        return float(tank.split(' ')[0])
    except:
        return 0

In [23]:
df['cd_tanksize'] = df.cd_tanksize.map(lambda x: get_tanksize(x))

In [24]:
from sklearn.preprocessing import OneHotEncoder



# Create an instance of the OneHotEncoder
encoder_make = OneHotEncoder(sparse_output=False)  # Set sparse=False to get a dense matrix

# Fit and transform the data
makes_enc = pd.DataFrame(encoder_make.fit_transform(df[['cd_make']]))
makes_enc.columns = encoder_make.get_feature_names_out()

encoder_model = OneHotEncoder(sparse_output=False)  # Set sparse=False to get a dense matrix

# Fit and transform the data
model_enc = pd.DataFrame(encoder_model.fit_transform(df[['cd_model']]))
model_enc.columns = encoder_model.get_feature_names_out()

encoder_engine = OneHotEncoder(sparse_output=False)
engine_enc = pd.DataFrame(encoder_engine.fit_transform(df[['cd_engine']]))
engine_enc.columns = encoder_engine.get_feature_names_out()

encoder_transmission = OneHotEncoder(sparse_output=False)
transmission_enc = pd.DataFrame(encoder_transmission.fit_transform(df[['cd_transmission']]))
transmission_enc.columns = encoder_transmission.get_feature_names_out()

encoder_drivetype = OneHotEncoder(sparse_output=False)
drivetype_enc = pd.DataFrame(encoder_drivetype.fit_transform(df[['cd_drive_type']]))
drivetype_enc.columns = encoder_drivetype.get_feature_names_out()

encoder_body_style = OneHotEncoder(sparse_output=False)
body_style_enc = pd.DataFrame(encoder_body_style.fit_transform(df[['cd_body_style']]))
body_style_enc.columns = encoder_body_style.get_feature_names_out()

encoder_fuel = OneHotEncoder(sparse_output=False)
fuel_enc = pd.DataFrame(encoder_fuel.fit_transform(df[['cd_fuel']]))
fuel_enc.columns = encoder_fuel.get_feature_names_out()

In [25]:
from sklearn.preprocessing import LabelEncoder

encoder_make = LabelEncoder()  # Set sparse=False to get a dense matrix

# Fit and transform the data
df['enc_make'] = encoder_make.fit_transform(df['cd_make'])



encoder_model = LabelEncoder()  # Set sparse=False to get a dense matrix

# Fit and transform the data
df['enc_model'] = encoder_model.fit_transform(df['cd_model'])
encoder_engine = LabelEncoder()  # Set sparse=False to get a dense matrix

# Fit and transform the data
df['enc_engine'] = encoder_engine.fit_transform(df['cd_engine'])
encoder_transmission = LabelEncoder()  # Set sparse=False to get a dense matrix

# Fit and transform the data
df['enc_transmission'] = encoder_transmission.fit_transform(df['cd_transmission'])
encoder_drive_type = LabelEncoder()  # Set sparse=False to get a dense matrix

# Fit and transform the data
df['enc_drive_type'] = encoder_drive_type.fit_transform(df['cd_drive_type'])
encoder_body_style = LabelEncoder()  # Set sparse=False to get a dense matrix

# Fit and transform the data
df['enc_body_style'] = encoder_body_style.fit_transform(df['cd_body_style'])

encoder_fuel = LabelEncoder()  # Set sparse=False to get a dense matrix

# Fit and transform the data
df['enc_make'] = encoder_fuel.fit_transform(df['cd_fuel'])

In [26]:
df

,cd_id,cd_mileage_miles,cd_year,cd_car_price,cd_make,cd_model,cd_body_style,cd_doors,cd_engine,cd_transmission,...,cd_fuel,mpg_city,mpg_hwy,cd_tanksize,enc_make,enc_model,enc_engine,enc_transmission,enc_drive_type,enc_body_style
0,0,14172.0,2022,32589,subaru,wrx,Sedan,4,4 Cyl,Manual,...,Gasoline,19,26,15.9,3,196,1,1,1,6
1,1,14172.0,2022,32589,subaru,wrx,Sedan,4,4 Cyl,Manual,...,Gasoline,19,26,15.9,3,196,1,1,1,6
2,2,14172.0,2022,32589,subaru,wrx,Sedan,4,4 Cyl,Manual,...,Gasoline,19,26,15.9,3,196,1,1,1,6
3,3,14172.0,2022,32589,subaru,wrx,Sedan,4,4 Cyl,Manual,...,Gasoline,19,26,15.9,3,196,1,1,1,6
4,4,14172.0,2022,32589,subaru,wrx,Sedan,4,4 Cyl,Manual,...,Gasoline,19,26,15.9,3,196,1,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15987,15987,6854.0,2017,24999,fiat,124 spider,Convertible,2,4 Cyl,Automatic,...,Gasoline,25,36,11.9,3,0,1,0,3,0
15988,15988,6854.0,2017,24999,fiat,124 spider,Convertible,2,4 Cyl,Automatic,...,Gasoline,25,36,11.9,3,0,1,0,3,0
15989,15989,38882.0,2017,22999,fiat,124 spider,Convertible,2,4 Cyl,Manual,...,Gasoline,26,35,11.9,3,0,1,1,3,0
15990,15990,38882.0,2017,22999,fiat,124 spider,Convertible,2,4 Cyl,Manual,...,Gasoline,26,35,11.9,3,0,1,1,3,0
15991,15991,23049.0,2014,28999,ford,mustang,Convertible,2,8 Cyl,Automatic,...,Gasoline,18,25,16.0,3,126,3,0,3,0

In [27]:
all_feats = pd.concat([makes_enc,model_enc,engine_enc,transmission_enc,drivetype_enc,body_style_enc,fuel_enc],axis=1)

In [28]:
all_feats = pd.concat([df.drop(['cd_make', 'cd_model', 'cd_engine', 'cd_transmission', 'cd_drive_type','cd_body_style','cd_fuel'],axis=1),all_feats],axis=1)

In [29]:
all_feats = df[['cd_id','cd_mileage_miles','cd_year', 'cd_car_price','mpg_city', 'mpg_hwy','cd_tanksize','enc_make', 'enc_model', 'enc_engine', 'enc_transmission',
       'enc_drive_type', 'enc_body_style']]

In [30]:
al = all_feats.drop(['cd_id'],axis=1)

In [31]:
al['mpg_city'] = al.mpg_city.astype(float)
al['mpg_hwy'] = al.mpg_hwy.astype(float)

In [32]:
from sklearn.preprocessing import StandardScaler
scaler_miles = StandardScaler()
al['cd_mileage_miles'] = scaler_miles.fit_transform(al[['cd_mileage_miles']])

scaler_car_price = StandardScaler()
al['cd_car_price'] = scaler_car_price.fit_transform(al[['cd_car_price']])

scaler_mpg_city = StandardScaler()
al['mpg_city'] = scaler_mpg_city.fit_transform(al[['mpg_city']])

scaler_mpg_hwy = StandardScaler()
al['mpg_hwy'] = scaler_mpg_hwy.fit_transform(al[['mpg_hwy']])

scaler_tank = StandardScaler()
al['cd_tanksize'] = scaler_tank.fit_transform(al[['cd_tanksize']])

In [33]:
al

,cd_mileage_miles,cd_year,cd_car_price,mpg_city,mpg_hwy,cd_tanksize,enc_make,enc_model,enc_engine,enc_transmission,enc_drive_type,enc_body_style
0,-0.871056,2022,0.023421,-0.282004,-0.141403,-0.010447,3,196,1,1,1,6
1,-0.871056,2022,0.023421,-0.282004,-0.141403,-0.010447,3,196,1,1,1,6
2,-0.871056,2022,0.023421,-0.282004,-0.141403,-0.010447,3,196,1,1,1,6
3,-0.871056,2022,0.023421,-0.282004,-0.141403,-0.010447,3,196,1,1,1,6
4,-0.871056,2022,0.023421,-0.282004,-0.141403,-0.010447,3,196,1,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...
15987,-1.200507,2017,-0.880608,0.403203,0.887309,-0.662462,3,0,1,0,3,0
15988,-1.200507,2017,-0.880608,0.403203,0.887309,-0.662462,3,0,1,0,3,0
15989,0.241369,2017,-1.118824,0.517404,0.784438,-0.662462,3,0,1,1,3,0
15990,0.241369,2017,-1.118824,0.517404,0.784438,-0.662462,3,0,1,1,3,0
15991,-0.471421,2014,-0.404177,-0.396205,-0.244274,0.005854,3,126,3,0,3,0

In [36]:
import numpy as np
from tqdm import tqdm
from sklearn.metrics.pairwise import cosine_similarity

# Compute similarity matrix in one go
sim_matrix = cosine_similarity(al.values)

# Get top 10 similar indices for each row (excluding itself)
similiarity = np.argsort(-sim_matrix, axis=1)[:, 1:11]  # Sort in descending order

# similiarity now contains the top 10 similar indices for each row
print(similiarity)

[[    1     2    26 ...     5     6     4]
 [    1     2    26 ...     5     6     4]
 [    1     2    26 ...     5     6     4]
 ...
 [15990 15978 15987 ... 15964 15966 15965]
 [15990 15978 15987 ... 15964 15966 15965]
 [13108 13109 13110 ... 12811 12806 12807]]

In [37]:
s = np.array(similiarity)

In [38]:
sims = []
for i in tqdm(s):
    si = df.iloc[i,].cd_id.values.tolist()
    sims.append(si)

  0%|          | 0/15992 [00:00<?, ?it/s]

100%|██████████| 15992/15992 [00:04<00:00, 3243.43it/s]

In [39]:
sims = list(sims)

In [40]:
b = []
for row in sims:
    a = []
    for ele in row:
        a.append(np.array(ele).item())
    b.append(a)

In [41]:
sims = pd.DataFrame(sims)
sims.columns = ['si_' + str(i) for i in sims.columns]

In [42]:
sims = pd.concat([df[['cd_id']],pd.DataFrame(sims)],axis=1)

In [43]:
sims

,cd_id,si_0,si_1,si_2,si_3,si_4,si_5,si_6,si_7,si_8,si_9
0,0,1,2,26,14,13,12,25,5,6,4
1,1,1,2,26,14,13,12,25,5,6,4
2,2,1,2,26,14,13,12,25,5,6,4
3,3,1,2,26,14,13,12,25,5,6,4
4,4,1,2,26,14,13,12,25,5,6,4
...,...,...,...,...,...,...,...,...,...,...,...
15987,15987,15988,15985,15978,15989,15990,15986,15486,15487,15488,15483
15988,15988,15988,15985,15978,15989,15990,15986,15486,15487,15488,15483
15989,15989,15990,15978,15987,15988,15985,15986,15963,15964,15966,15965
15990,15990,15990,15978,15987,15988,15985,15986,15963,15964,15966,15965
15991,15991,13108,13109,13110,13107,12809,12805,12804,12811,12806,12807

In [44]:
pd.merge(df,sims)

,cd_id,cd_mileage_miles,cd_year,cd_car_price,cd_make,cd_model,cd_body_style,cd_doors,cd_engine,cd_transmission,...,si_0,si_1,si_2,si_3,si_4,si_5,si_6,si_7,si_8,si_9
0,0,14172.0,2022,32589,subaru,wrx,Sedan,4,4 Cyl,Manual,...,1,2,26,14,13,12,25,5,6,4
1,1,14172.0,2022,32589,subaru,wrx,Sedan,4,4 Cyl,Manual,...,1,2,26,14,13,12,25,5,6,4
2,2,14172.0,2022,32589,subaru,wrx,Sedan,4,4 Cyl,Manual,...,1,2,26,14,13,12,25,5,6,4
3,3,14172.0,2022,32589,subaru,wrx,Sedan,4,4 Cyl,Manual,...,1,2,26,14,13,12,25,5,6,4
4,4,14172.0,2022,32589,subaru,wrx,Sedan,4,4 Cyl,Manual,...,1,2,26,14,13,12,25,5,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15987,15987,6854.0,2017,24999,fiat,124 spider,Convertible,2,4 Cyl,Automatic,...,15988,15985,15978,15989,15990,15986,15486,15487,15488,15483
15988,15988,6854.0,2017,24999,fiat,124 spider,Convertible,2,4 Cyl,Automatic,...,15988,15985,15978,15989,15990,15986,15486,15487,15488,15483
15989,15989,38882.0,2017,22999,fiat,124 spider,Convertible,2,4 Cyl,Manual,...,15990,15978,15987,15988,15985,15986,15963,15964,15966,15965
15990,15990,38882.0,2017,22999,fiat,124 spider,Convertible,2,4 Cyl,Manual,...,15990,15978,15987,15988,15985,15986,15963,15964,15966,15965
15991,15991,23049.0,2014,28999,ford,mustang,Convertible,2,8 Cyl,Automatic,...,13108,13109,13110,13107,12809,12805,12804,12811,12806,12807

In [45]:
df[df.cd_id == 461]

,cd_id,cd_mileage_miles,cd_year,cd_car_price,cd_make,cd_model,cd_body_style,cd_doors,cd_engine,cd_transmission,...,cd_fuel,mpg_city,mpg_hwy,cd_tanksize,enc_make,enc_model,enc_engine,enc_transmission,enc_drive_type,enc_body_style
461,461,10110.0,2022,34589,subaru,wrx,Sedan,4,4 Cyl,Automatic,...,Gasoline,19,25,15.9,3,196,1,0,1,6

In [46]:
sims.to_csv('similarity_matrix.csv')

In [47]:
for column in sims.columns:
    sims[column] = sims[column].apply(int)

sims.dtypes

cd_id    int64
si_0     int64
si_1     int64
si_2     int64
si_3     int64
si_4     int64
si_5     int64
si_6     int64
si_7     int64
si_8     int64
si_9     int64
dtype: object

In [48]:
for i in sims.values:
    print(np.array(i).item())
    break

ValueError: can only convert an array of size 1 to a Python scalar

In [255]:
type(np.array(sims.iloc[0,1]).item())

int

In [264]:
sims.isna().sum()

AttributeError: 'list' object has no attribute 'isna'

In [353]:
al.columns.tolist()

['cd_mileage_miles',
 'cd_car_price',
 'cd_doors',
 'mpg_city',
 'mpg_hwy',
 'cd_tanksize',
 'cd_mileage_miles',
 'cd_car_price',
 'cd_doors',
 'mpg_city',
 'mpg_hwy',
 'cd_tanksize',
 'cd_make_acura',
 'cd_make_alfa-romeo',
 'cd_make_audi',
 'cd_make_bmw',
 'cd_make_buick',
 'cd_make_cadillac',
 'cd_make_chevrolet',
 'cd_make_chrysler',
 'cd_make_dodge',
 'cd_make_fiat',
 'cd_make_ford',
 'cd_make_genesis',
 'cd_make_gmc',
 'cd_make_honda',
 'cd_make_hyundai',
 'cd_make_infiniti',
 'cd_make_jaguar',
 'cd_make_jeep',
 'cd_make_kia',
 'cd_make_land',
 'cd_make_lexus',
 'cd_make_lincoln',
 'cd_make_mazda',
 'cd_make_mercedes-benz',
 'cd_make_mini',
 'cd_make_mitsubishi',
 'cd_make_nissan',
 'cd_make_polestar',
 'cd_make_porsche',
 'cd_make_ram',
 'cd_make_subaru',
 'cd_make_tesla',
 'cd_make_toyota',
 'cd_make_volkswagen',
 'cd_make_volvo',
 'cd_model_124 spider',
 'cd_model_1500',
 'cd_model_2',
 'cd_model_2 series',
 'cd_model_200',
 'cd_model_2500',
 'cd_model_3 series',
 'cd_model_300',
 'cd_model_3500',
 'cd_model_4 series',
 'cd_model_4runner',
 'cd_model_5 series',
 'cd_model_500x',
 'cd_model_6 series',
 'cd_model_86',
 'cd_model_a class',
 'cd_model_a3',
 'cd_model_a4',
 'cd_model_a5',
 'cd_model_a6',
 'cd_model_a7',
 'cd_model_a8',
 'cd_model_acadia',
 'cd_model_accord',
 'cd_model_allroad',
 'cd_model_altima',
 'cd_model_arteon',
 'cd_model_ascent',
 'cd_model_atlas',
 'cd_model_ats',
 'cd_model_avalon',
 'cd_model_aviator',
 'cd_model_beetle',
 'cd_model_blazer',
 'cd_model_bolt euv',
 'cd_model_bolt ev',
 'cd_model_bronco',
 'cd_model_bronco sport',
 'cd_model_brz',
 'cd_model_c class',
 'cd_model_c hr',
 'cd_model_c40',
 'cd_model_c70',
 'cd_model_cadenza',
 'cd_model_camaro',
 'cd_model_camry',
 'cd_model_canyon',
 'cd_model_carnival',
 'cd_model_cascada',
 'cd_model_cayenne',
 'cd_model_challenger',
 'cd_model_charger',
 'cd_model_cherokee',
 'cd_model_civic',
 'cd_model_cla',
 'cd_model_clarity',
 'cd_model_cls',
 'cd_model_colorado',
 'cd_model_compass',
 'cd_model_continental',
 'cd_model_cooper',
 'cd_model_cooper countryman',
 'cd_model_corolla',
 'cd_model_corolla cross',
 'cd_model_corsair',
 'cd_model_corvette',
 'cd_model_cr v',
 'cd_model_crosstrek',
 'cd_model_cruze',
 'cd_model_ct4',
 'cd_model_ct5',
 'cd_model_cts',
 'cd_model_cx 3',
 'cd_model_cx 30',
 'cd_model_cx 5',
 'cd_model_cx 9',
 'cd_model_dart',
 'cd_model_durango',
 'cd_model_e class',
 'cd_model_eclipse cross',
 'cd_model_ecosport',
 'cd_model_edge',
 'cd_model_elantra',
 'cd_model_enclave',
 'cd_model_encore',
 'cd_model_encore gx',
 'cd_model_envision',
 'cd_model_equinox',
 'cd_model_es',
 'cd_model_escalade',
 'cd_model_escape',
 'cd_model_ev6',
 'cd_model_expedition',
 'cd_model_expedition max',
 'cd_model_explorer',
 'cd_model_f 150',
 'cd_model_f 250',
 'cd_model_f 350',
 'cd_model_f pace',
 'cd_model_f type',
 'cd_model_fiesta',
 'cd_model_fit',
 'cd_model_fj cruiser',
 'cd_model_flex',
 'cd_model_focus',
 'cd_model_forester',
 'cd_model_forte',
 'cd_model_frontier',
 'cd_model_fusion',
 'cd_model_g70',
 'cd_model_g80',
 'cd_model_g90',
 'cd_model_giulia',
 'cd_model_gl class',
 'cd_model_gla',
 'cd_model_gladiator',
 'cd_model_glb',
 'cd_model_glc',
 'cd_model_gle',
 'cd_model_gls',
 'cd_model_golf',
 'cd_model_gr supra',
 'cd_model_gr86',
 'cd_model_grand caravan',
 'cd_model_grand cherokee',
 'cd_model_grand cherokee l',
 'cd_model_gs',
 'cd_model_gv70',
 'cd_model_gv80',
 'cd_model_gx',
 'cd_model_highlander',
 'cd_model_hr v',
 'cd_model_i pace',
 'cd_model_i3',
 'cd_model_i8',
 'cd_model_id 4',
 'cd_model_ilx',
 'cd_model_impala',
 'cd_model_impreza',
 'cd_model_insight',
 'cd_model_integra',
 'cd_model_ioniq',
 'cd_model_ioniq 5',
 'cd_model_is',
 'cd_model_jetta',
 'cd_model_journey',
 'cd_model_k5',
 'cd_model_kicks',
 'cd_model_kona',
 'cd_model_kona n',
 'cd_model_lacrosse',
 'cd_model_land cruiser',
 'cd_model_ls',
 'cd_model_lx',
 'cd_model_m2',
 'cd_model_m4',
 'cd_model_macan',
 'cd_model_malibu',
 'cd_model_maverick',
 'cd_model_maxima',
 'cd_model_mazda3',
 'cd_model_mazda6',
 'cd_model_mdx',
 'cd_model_miata',
 'cd_model_mkc',
 'cd_model_mkx',
 'cd_model_mkz',
 'cd_model_model 3',
 'cd_model_model s',
 'cd_model_model x',
 'cd_model_murano',
 'cd_model_mustang',
 'cd_model_nautilus',
 'cd_model_navigator',
 'cd_model_navigator l',
 'cd_model_niro',
 'cd_model_niro ev',
 'cd_model_nx',
 'cd_model_odyssey',
 'cd_model_optima',
 'cd_model_outback',
 'cd_model_outlander',
 'cd_model_outlander sport',
 'cd_model_pacifica',
 'cd_model_palisade',
 'cd_model_passat',
 'cd_model_passport',
 'cd_model_pathfinder',
 'cd_model_patriot',
 'cd_model_pilot',
 'cd_model_prius',
 'cd_model_prius prime',
 'cd_model_q3',
 'cd_model_q40',
 'cd_model_q5',
 'cd_model_q50',
 'cd_model_q60',
 'cd_model_q7',
 'cd_model_q8',
 'cd_model_qx30',
 'cd_model_qx50',
 'cd_model_qx60',
 'cd_model_ranger',
 'cd_model_rav4',
 'cd_model_rc',
 'cd_model_rdx',
 'cd_model_regal',
 'cd_model_renegade',
 'cd_model_ridgeline',
 'cd_model_rio',
 'cd_model_rogue',
 'cd_model_rogue sport',
 'cd_model_rover discovery sport',
 'cd_model_rover range rover velar',
 'cd_model_rs5',
 'cd_model_rx',
 'cd_model_s class',
 'cd_model_s4',
 'cd_model_s5',
 'cd_model_s6',
 'cd_model_s60',
 'cd_model_s8',
 'cd_model_santa cruz',
 'cd_model_santa fe',
 'cd_model_santa fe sport',
 'cd_model_seltos',
 'cd_model_sentra',
 'cd_model_sienna',
 'cd_model_sierra 1500',
 'cd_model_sierra 2500hd',
 'cd_model_silverado 1500',
 'cd_model_silverado 3500hd',
 'cd_model_slc',
 'cd_model_slk',
 'cd_model_sonata',
 'cd_model_sorento',
 'cd_model_soul',
 'cd_model_spark',
 'cd_model_sportage',
 'cd_model_sq5',
 'cd_model_sq7',
 'cd_model_srx',
 'cd_model_stelvio',
 'cd_model_stinger',
 'cd_model_suburban',
 'cd_model_tacoma',
 'cd_model_tahoe',
 'cd_model_taos',
 'cd_model_taurus',
 'cd_model_telluride',
 'cd_model_terrain',
 'cd_model_tiguan',
 'cd_model_titan',
 'cd_model_tl',
 'cd_model_tlx',
 'cd_model_trailblazer',
 'cd_model_transit connect',
 'cd_model_traverse',
 'cd_model_trax',
 'cd_model_tucson',
 'cd_model_tundra',
 'cd_model_ux',
 'cd_model_veloster',
 'cd_model_veloster n',
 'cd_model_venue',
 'cd_model_venza',
 'cd_model_versa',
 'cd_model_versa note',
 'cd_model_volt',
 'cd_model_wagoneer',
 'cd_model_wrangler',
 'cd_model_wrx',
 'cd_model_x1',
 'cd_model_x2',
 'cd_model_x3',
 'cd_model_x3 m',
 'cd_model_x5',
 'cd_model_xc40',
 'cd_model_xc60',
 'cd_model_xc90',
 'cd_model_xj',
 'cd_model_xt4',
 'cd_model_xt5',
 'cd_model_xt6',
 'cd_model_xts',
 'cd_model_yukon',
 'cd_model_yukon xl',
 'cd_model_z4',
 'cd_engine_3 Cyl',
 'cd_engine_4 Cyl',
 'cd_engine_5 Cyl',
 'cd_engine_6 Cyl',
 'cd_engine_8 Cyl',
 'cd_engine_Electric',
 'cd_transmission_Automatic',
 'cd_transmission_Manual',
 'cd_drive_type_4WD',
 'cd_drive_type_AWD',
 'cd_drive_type_FWD',
 'cd_drive_type_RWD',
 'cd_body_style_Convertible',
 'cd_body_style_Coupe',
 'cd_body_style_Hatchback',
 'cd_body_style_Minivan',
 'cd_body_style_Pickup',
 'cd_body_style_SUV',
 'cd_body_style_Sedan',
 'cd_body_style_Wagon',
 'cd_fuel_Diesel',
 'cd_fuel_Electric',
 'cd_fuel_Flexible-Fuel',
 'cd_fuel_Gasoline',
 'cd_fuel_Hybrid',
 'cluster']

In [307]:
import numpy as np
from sklearn.cluster import DBSCAN
from sklearn.datasets import make_blobs
import matplotlib.pyplot as plt

# Generate sample data (replace this with your own data)

X = al

# Create a DBSCAN model
dbscan = DBSCAN(eps=2, min_samples=5)  # You can adjust 'eps' and 'min_samples' based on your data

# Fit the model to the data
dbscan.fit(X)

# Get the labels assigned to each data point
labels = dbscan.labels_

In [310]:
al['cluster'] = labels

In [321]:
al[al.cluster==23].index

Index([ 754,  755,  756,  758,  759,  760,  762,  763,  764,  765,
       ...
       1750, 1751, 1752, 1753, 1754, 1755, 1756, 1896, 2080, 2128],
      dtype='int64', length=102)

In [322]:
df.iloc[al[al.cluster==23].index,]

,cd_id,cd_mileage_miles,cd_car_price,cd_make,cd_model,cd_body_style,cd_doors,cd_engine,cd_transmission,cd_drive_type,cd_fuel,year,mpg_city,mpg_hwy,cd_tanksize
754,466,45142.0,20999.0,kia,optima,Sedan,4,4 Cyl,Automatic,FWD,Gasoline,45142,25,35,18.5
755,467,67007.0,19999.0,kia,optima,Sedan,4,4 Cyl,Automatic,FWD,Gasoline,67007,25,35,18.5
756,568,11055.0,22589.0,kia,optima,Sedan,4,4 Cyl,Automatic,FWD,Gasoline,11055,24,33,18.5
758,570,21424.0,23589.0,kia,optima,Sedan,4,4 Cyl,Automatic,FWD,Gasoline,21424,27,37,18.5
759,618,82878.0,21589.0,kia,optima,Sedan,4,4 Cyl,Automatic,FWD,Gasoline,82878,22,31,18.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1755,1136,10034.0,35999.0,lexus,nx,SUV,4,4 Cyl,Automatic,FWD,Gasoline,10034,22,28,14.8
1756,1137,34025.0,31999.0,lexus,nx,SUV,4,4 Cyl,Automatic,AWD,Gasoline,34025,22,28,14.8
1896,1298,59505.0,33589.0,honda,pilot,SUV,4,6 Cyl,Automatic,AWD,Gasoline,59505,19,26,19.5
2080,1679,10536.0,43589.0,mercedes-benz,gle,SUV,4,6 Cyl,Automatic,AWD,Hybrid,10536,20,23,21.1
2128,1835,38584.0,30589.0,cadillac,xt5,SUV,4,6 Cyl,Automatic,FWD,Gasoline,38584,19,26,19.4

In [318]:
al.cluster.value_counts()

cluster
-1     1282
 23     102
 9       77
 4       71
 40      48
       ...
 50       5
 77       5
 80       5
 89       4
 78       4
Name: count, Length: 109, dtype: int64

In [338]:
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

# Generate sample data (replace this with your own data)


# Create a K-Means model
n_clusters = 10  # You can adjust the number of clusters
kmeans = KMeans(n_clusters=n_clusters)

# Fit the model to the data
kmeans.fit(al[al.cd_body_style_Pickup == 1])

# Get cluster labels and cluster centers
labels = kmeans.labels_
cluster_centers = kmeans.cluster_centers_

# Plot the clustered data

/opt/homebrew/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [328]:
df['clusters'] = labels

In [335]:
pick = al[al.cd_body_style_Pickup == 1]

In [332]:
df[df.clusters == 5].cd_body_style.value_counts()

cd_body_style
SUV            240
Sedan           94
Hatchback       18
Pickup          18
Coupe           17
Convertible     13
Minivan         11
Wagon            4
Name: count, dtype: int64

In [339]:
pick['cluster'] = labels

/var/folders/3m/q31sgtj91_n394m9656x0bwh0000gp/T/ipykernel_8269/4198457483.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pick['cluster'] = labels

In [341]:
pick.cluster.value_counts()

cluster
0    83
4    60
5    37
7    35
8    33
6    27
3    27
2    24
9    19
1    18
Name: count, dtype: int64

In [351]:
df.iloc[pick[pick.cluster == 2 ].index,].cd_model.value_counts()

cd_model
tacoma            17
silverado 1500     4
f 150              3
Name: count, dtype: int64